html, body {
  background-image: url("https://pixabay.com/get/54e6dc464f54a514f6d1867dda353678153fd9e25455754f_1920.jpg")
}

/* LOGIN */

.login {
display: inline-flex;
flex-direction: row;
align-items: center;
text-align: center;
justify-content: center;
height: 200px;
width: 300px;
background-color: red;
}

/* NAVBAR */
.icon {
  background-image: url('./assets/svg/death-star.svg');
}
