html, body {
  background-image: url("./assets/images/milky2.jpg");
  background-size: 100vw;
}

/* LOGIN */

.login {
display: inline-flex;
flex-direction: row;
align-items: center;
justify-content: center;
height: 100vh;
width: 100vw;
background-color: none;
};

.login-input {
  margin: 1rem;
  padding: 1rem;
}

/* REGISTER */

.register {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: none;
  };

/* NAVBAR */
.icon {
  background-image: url('./assets/svg/death-star.svg');
}

